In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv('GDPlist.csv',header = 0, encoding = 'ISO-8859-1')
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [9]:
df.shape

(125, 3)

In [12]:
df.rename(columns={'Country':'Nuoc','Continent':'ChauLuc','GDP (millions of US$)':'GDP(Trieu $)'},inplace=True)
df.head()

           Nuoc        ChauLuc  GDP(Trieu $)
0   Afghanistan           Asia         18181
1       Albania         Europe         12847
2       Algeria         Africa        190709
3        Angola         Africa        100948
4     Argentina  South America        447644

In [13]:
df['ThanhPho'] = df['Nuoc']
df.head()

           Nuoc        ChauLuc  GDP(Trieu $)      ThanhPho
0   Afghanistan           Asia         18181   Afghanistan
1       Albania         Europe         12847       Albania
2       Algeria         Africa        190709       Algeria
3        Angola         Africa        100948        Angola
4     Argentina  South America        447644     Argentina

In [18]:
df['ThanhPho'].replace('Vietnam', 'Hanoi',inplace=True)
df.head()

(89, 4)

In [17]:
df.drop(df[df['ChauLuc'] == 'Asia'].index, inplace = True)
print(df)
df.shape

               Nuoc        ChauLuc  GDP(Trieu $)        ThanhPho
1           Albania         Europe         12847         Albania
2           Algeria         Africa        190709         Algeria
3            Angola         Africa        100948          Angola
4         Argentina  South America        447644       Argentina
5         Australia        Oceania       1488221       Australia
..              ...            ...           ...             ...
118   United States  North America      15094025   United States
119         Uruguay  South America         46872         Uruguay
121       Venezuela  South America        315841       Venezuela
123           Yemen         Africa         33675           Yemen
124          Zambia         Africa         19206          Zambia

[89 rows x 4 columns]

(89, 4)