In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print('ok')

ok

In [2]:
data1=pd.read_csv(filepath_or_buffer = 'FoodPrice_in_Turkey.csv', sep = ',')
data1.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [3]:
data1.to_csv('demo_FoodPrice.csv')
print('ok')

ok

In [4]:
data1.to_excel('demo_FoodPrice.xlsx')
print('ok')

ok

In [5]:
data1.to_json('demo_FoodPrice.json',orient='columns')
data1.to_hdf('demo_FoodPrice.h5', 'table')
data1.to_html('demo_FoodPrice.html')
print('ok')

ok