In [5]:
import pandas as pd
df=pd.read_csv('GDPlist.csv',header=0,encoding='ISO-8859-1')
df

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [9]:
df_gdp = df.loc[:,'GDP (millions of US$)']
df_gdp.min()

10600

In [10]:
df_gdp.max()

15094025

In [11]:
df_gdp.describe()

count    1.250000e+02
mean     5.554278e+05
std      1.649266e+06
min      1.060000e+04
25%      2.574200e+04
50%      9.608900e+04
75%      3.332380e+05
max      1.509402e+07
Name: GDP (millions of US$), dtype: float64

In [12]:
df_gdp.mean()

555427.784

In [13]:
df_gdp.median()

96089.0

In [15]:
df_gdp.mode()

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP (millions of US$), Length: 125, dtype: int64

In [21]:
data1 = df.pivot_table('Country',index='Continent',aggfunc='count')
data1

               Country
Continent
Africa              29
Asia                36
Europe              37
North America       11
Oceania              3
South America        9

# Châu Âu nhiều quốc gia nhất

In [28]:
data2 = df.pivot_table('GDP (millions of US$)',index='Continent',aggfunc='sum')
data2

               GDP (millions of US$)
Continent
Africa                       1820811
Asia                        24425891
Europe                      19139380
North America               18238447
Oceania                      1662727
South America                4141217

In [29]:
data3=pd.merge(data1,data2, on='Continent')
data3

               Country  GDP (millions of US$)
Continent
Africa              29                1820811
Asia                36               24425891
Europe              37               19139380
North America       11               18238447
Oceania              3                1662727
South America        9                4141217

In [30]:
data3['AVG GDP per Continent'] = data3['GDP (millions of US$)']/data3['Country']
data3

               Country  GDP (millions of US$)  AVG GDP per Continent
Continent
Africa              29                1820811           6.278659e+04
Asia                36               24425891           6.784970e+05
Europe              37               19139380           5.172805e+05
North America       11               18238447           1.658041e+06
Oceania              3                1662727           5.542423e+05
South America        9                4141217           4.601352e+05

In [31]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Africa to South America
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                6 non-null      int64
 1   GDP (millions of US$)  6 non-null      int64
 2   AVG GDP per Continent  6 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 192.0+ bytes