In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print('ok')

ok

In [2]:
data1=pd.read_csv(filepath_or_buffer = 'FoodPrice_in_Turkey.csv', sep = ',')
data1.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [3]:
data1.rename(columns={'Place':'Địa điểm','ProductName':'Tên SP'},inplace=True)
data1.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [4]:
data1['new_column'] = 'NaN'
data1.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN

In [5]:
data1['Giảm giá']= pd.Series('10%', index=data1.index)
data1.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column,Giảm giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%

In [6]:
data1.insert(10,'Giảm giá 2',pd.Series('12%', index=data1.index))
data1.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column,Giảm giá,Giảm giá 2
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%,12%

In [7]:
data1=data1.append({'Địa điểm':'NA','ProductId':'RR','Tên SP':'Rice','UmId':10,'UmName':'KG','Month':6,
              'Year':2021,'Price':84.3785,'Giảm giá':'10%','Giảm giá 2':'12%'},ignore_index=True)
data1.tail()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9204\3405536233.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1=data1.append({'Địa điểm':'NA','ProductId':'RR','Tên SP':'Rice','UmId':10,'UmName':'KG','Month':6,

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column,Giảm giá,Giảm giá 2
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN,10%,12%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN,10%,12%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN,10%,12%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN,10%,12%
7381,NA,RR,Rice,10,KG,6,2021,84.3785,NaN,10%,12%

In [8]:
del data1['new_column']
data1.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,Giảm giá,Giảm giá 2
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,10%,12%

In [9]:
data1.pop('Giảm giá 2')

0       12%
1       12%
2       12%
3       12%
4       12%
       ...
7377    12%
7378    12%
7379    12%
7380    12%
7381    12%
Name: Giảm giá 2, Length: 7382, dtype: object

In [10]:
data1.drop('Giảm giá', axis=1, inplace=True)
data1

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071
7381,NA,RR,Rice,10,KG,6,2021,84.3785

In [11]:
data1.drop(['Month','Year'], axis=1, inplace=True)
data1

,Địa điểm,ProductId,Tên SP,UmId,UmName,Price
0,National Average,52,Rice - Retail,5,KG,4.4920
1,National Average,52,Rice - Retail,5,KG,4.5786
2,National Average,52,Rice - Retail,5,KG,4.7865
3,National Average,52,Rice - Retail,5,KG,5.1337
4,National Average,52,Rice - Retail,5,KG,5.5099
...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071
7381,NA,RR,Rice,10,KG,84.3785

In [12]:
data1.drop(1, axis = 0, inplace=True)
data1

,Địa điểm,ProductId,Tên SP,UmId,UmName,Price
0,National Average,52,Rice - Retail,5,KG,4.4920
2,National Average,52,Rice - Retail,5,KG,4.7865
3,National Average,52,Rice - Retail,5,KG,5.1337
4,National Average,52,Rice - Retail,5,KG,5.5099
5,National Average,52,Rice - Retail,5,KG,5.8146
...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071
7381,NA,RR,Rice,10,KG,84.3785

In [13]:
data1.drop([7377,7379], inplace=True)
data1

,Địa điểm,ProductId,Tên SP,UmId,UmName,Price
0,National Average,52,Rice - Retail,5,KG,4.4920
2,National Average,52,Rice - Retail,5,KG,4.7865
3,National Average,52,Rice - Retail,5,KG,5.1337
4,National Average,52,Rice - Retail,5,KG,5.5099
5,National Average,52,Rice - Retail,5,KG,5.8146
...,...,...,...,...,...,...
7375,Izmir,502,Cocoa (powder) - Retail,5,KG,47.4010
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,47.9040
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071
7381,NA,RR,Rice,10,KG,84.3785